src/main/webapp/WEB-INF/StringReverseService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.stringReverse.org/StringReverseService"
        elementFormDefault="qualified">
    <element name="ServiceRequest">
        <complexType>
            <sequence>
                <element name="input" type="string" maxOccurs="1" minOccurs="1"/>
            </sequence>
        </complexType>
    </element>
    <element name="ServiceResponse">
        <complexType>
            <sequence>
                <element name="output" type="string" maxOccurs="1" minOccurs="1"/>
            </sequence>
        </complexType>
    </element>
</schema>